<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781887836387-k429dukeglsmg81gnbrghlu1pjai1ip9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781887836387-k429dukeglsmg81gnbrghlu1pjai1ip9</string>
	<key>API_KEY</key>
	<string>AIzaSyCoGCL6BM4NbKxA4m9BX_4vYJ8PvlA2rHA</string>
	<key>GCM_SENDER_ID</key>
	<string>781887836387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ziique</string>
	<key>PROJECT_ID</key>
	<string>ziique-7aa1b</string>
	<key>STORAGE_BUCKET</key>
	<string>ziique-7aa1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781887836387:ios:14c824a9184788ddb1b5d6</string>
	<key>DATABASE_URL</key>
	<string>https://ziique-7aa1b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>